{
  "extends": "airbnb-base",
  "rules": {
    "import/no-unresolved": 0,
    "max-len": [2, { "code": 120, "comments": 80 }],
    "new-cap": 0,
    "no-console": "warn",
    "no-underscore-dangle": 0,
    "object-curly-spacing": ["error", "always"],
    "object-shorthand": 0,
    "prefer-template": "warn",
    "space-before-function-paren": 0,
    "strict": 0,
    "arrow-body-style": 0
  },
  "globals": {
  }
}
