<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Syntheism &#8211; Creating God in the Internet Age</title>
  <script src="https://rawgit.com/gustafnk/h-include/master/h-include.js"></script>
  <link rel="stylesheet" href="http://syntheism.org/wp-content/syntheism_book/styles/bootstrap.css">
</head>
<body>
  <div class="container-fluid">
    <div class="col-md-9" role="main">
      <a href="../">Back to index</a>
      <h1>{{ chapterNumber }}</h1>
      {{#each paragraphNumbers as |paragraphNumber|}}
      <div>
        <a name="{{ paragraphNumber }}"></a>
        <h-include src="{{ paragraphNumber }}.html" fragment="article"></h-include>
        <br><br>
      </div>
      {{/each}}
    </div>
  </div>
</body>
</html>