<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Syntheism &#8211; Creating God in the Internet Age</title>
  <link rel="stylesheet" href="http://syntheism.org/wp-content/syntheism_book/styles/bootstrap.css">
</head>
<body>
  <div class="container-fluid">
    <div class="col-md-9" role="main">
      <h1>Syntheism Index</h1>
      {{#each index}}
          <h2><a name="{{ this.anchor }}"></a>{{@key}}</h2>
          <div>
          {{#each this.paragraphs}}
            <a href="{{ this }}.html">{{ this }}</a>
          {{/each}}
          </div>
      {{/each}}
    </div>
  </div>
  <br><br><br><br><br><br><br>
</body>
</html>
