<html>
<head>
</head>
<body>
  <h1>Syntheist Index</h1>
  {{#each index}}
      <h2>{{@key}}</h2>
      <div>
      {{#each this}}
        <a href="{{ this }}">{{ this }}</a>
      {{/each}}
      </div>
  {{/each}}
</body>
</html>